[package]
name = "sql"
edition = "2018"
version = "0.1.0"
authors = ['Facebook <opensource+rust-shed@fb.com>']
license = "MIT OR Apache-2.0"
description = "Crate for accessing sql databases"
repository = "https://github.com/facebookexperimental/rust-shed/"
readme = "../../README.md"
include = ["src/**/*.rs"]

[dependencies]
cloned = { path = "../cloned", version = "0.1.0" }
failure_ext = { path = "../failure_ext", version = "0.1.0" }
futures_ext = { package = "futures_01_ext", path = "../futures_01_ext", version = "0.1.0" }
sql_common = { path = "common", version = "0.1.0" }
anyhow = "1.0"
failure = "0.1"
futures = "0.1.30"
futures-util = "0.3.7"
mysql_async = { version = "0.23" }
rusqlite = { version = "0.23", features = ["blob", "bundled"] }

[dev-dependencies]
sql_tests_lib = { path = "tests_lib", version = "0.1.0" }
tokio = { version = "0.2.25", features = ["full", "test-util"] }
